<div class="form-section">
  <span class="remove-item"
        (click)="removeItemChange.emit()">X</span>
  <div class="form-field">
    <app-country-autocomplete
      formControlName="country"
      [errorStateMatcher]="showErrorStrategy"
      [options]="options">
    </app-country-autocomplete>
  </div>

  <div class="form-field">
    <label for="username">Username</label>
    <input
      formControlName="username"
      type="text"
      [errorStateMatcher]="showErrorStrategy"
      id="username"
      placeholder="Enter username">
  </div>

  <div class="form-field">
    <label for="birthday">Birthday</label>
    <input
      formControlName="birthday"
      [errorStateMatcher]="showErrorStrategy"
      type="date"
      id="birthday">
  </div>

</div>
