<div class="form-section" >
  <span class="remove-item" (click)="removeItemChange.emit()">X</span>
  <div class="form-field">
    <label for="country">Country</label>
    <input formControlName="country" type="text" id="country" placeholder="Enter country">
  </div>

  <div class="form-field">
    <label for="username">Username</label>
    <input formControlName="username" type="text" id="username" placeholder="Enter username">
  </div>

  <div class="form-field">
    <label for="birthday">Birthday</label>
    <input formControlName="birthday" type="date" id="birthday">
  </div>

</div>
