<div class="">
  {{ formArray.value | json }}
  <header>
    <div>
      <button class="primary submit-button"
              (click)="submit()"
              [disabled]="isFormInvalid">
        Submit all forms
      </button>

      <button class="primary cancel submit-button"
              (click)="disable()">
        disable
      </button>

      <button class="primary cancel submit-button"
              (click)="cancel()">
        enable
      </button>

      <ng-container *ngIf="formArray.dirty">
        <span class="input-error"
              *ngIf="invalidFormsLength as count">
        Invalid forms: <strong>{{ count }}</strong>
      </span>
      </ng-container>
    </div>

  </header>
  <main>
    <ng-container *ngFor="let item of formArray.controls; index as i">
      <app-form-item
        [formGroup]="getFormGroup(item)"
        [options]="countries"
        (removeItemChange)="handleRemoveItem(i)">
      </app-form-item>
    </ng-container>
    <button class="add-button"
            [disabled]="formArray.controls.length >= 10"
            (click)="addItem()">+</button>
  </main>

</div>
